<div class="page-header">
  <h1>Editar Calificacion <%= link_to 'Volver al curso', teacher_subject_path(@score.subject_id), class: 'btn btn-xs btn-default' %></h1>
</div>
<%= render :partial => 'form' %>