<div class="page-header">
  <h1>Carga acad&eacute;mica</h1>
</div>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Alumno</th>
    <th>Periodo</th>
    <th>Carrera</th>
    <th>Fecha de creaci&oacute;n</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= link_to full_name(course.student), vista_admin_path(course) %></td>
        <td><%= "#{course.calendar.period} #{course.calendar.year}" %></td>
        <td><%= course.career.name %></td>
        <td><%= course.created_at.to_date %></td>
      </tr>
  <% end %>
  </tbody>
</table>
